@import url(https://fonts.googleapis.com/css?family=Poppins);

:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --font-size: 16px;
    --global-font: 'Poppins', sans-serif;
  }