header {
	display: flex;
	justify-content: space-between;
	padding: var(--small-space);
	position: absolute;
	width: 100vw;
	z-index: 2;
}

nav ul {
	display: flex;
	gap: var(--tiny-space);
	justify-content: end;
}
